<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calcular Monto Alquiler </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>

<div class="container">
    <h1> <center>Bienvenido</center></h1>
    <h2> <center>Diligencie los campos</center></h2>
    <br>

    <form th:action="@{/guardarCamion}" th:object="${camion}" method="post">

        <!--Matricula-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="matricula">Matricula:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{matricula}" class="form-control" id="matricula" required="required"></div>
            </div>
        </div>


        <!--Marca-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="marca">Marca:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{marca}" class="form-control" id="marca" required="required"></div>
            </div>
        </div>

        <!--Modelo-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="modelo">Modelo:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{modelo}" class="form-control" id="modelo" required="required" ></div>
            </div>
        </div>

        <!--PMA-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="pma">Peso Máximo Autorizado (TN):</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{pma}" class="form-control" id="pma" readonly></div>
            </div>
        </div>

        <!--Total dias-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="totalDias">Numero de días:</label>
                <div class="col-md-6" >
                    <input type="number" th:field="*{totalDias}" class="form-control" id="totalDias" required="required" min="1" max="30">
                </div>
            </div>
        </div>

        <!--Boton para enviar información -->
        <div class="row">
            <div  class="col-md-20" align="center">
                <button  class="btn btn-success">Alquilar</button>
            </div>
        </div>
    </form>

    <a th:href="@{/}" class="btn btn-primary" role="button">Home</a>
    <a th:href="@{/verCamiones}" class="btn btn-danger" role="button">Camiones alquilados</a>

</div>
</body>
</html>
