<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Camiones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>

        a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }

</style>
</head>
<body>

<div class="container">
    <h1> Lista de Camiones Alquilados</h1>
    <!--Dibujamos la tabla-->
    <br><table class="table table-bordered">
    <tr style="font-size:150%">
        <th>ID</th>
        <th>Fecha</th>
        <th>Matricula</th>
        <th>Monto total</th>

    </tr>

    <!--Llenamos la tabla dibujada-->
    <tr th:each="camion : ${camiones}">
        <td th:text="${camion.id}"></td>
        <td th:text="${camion.fecha}"></td>
        <td th:text="${camion.matricula}"></td>
        <td th:text="${camion.monto}"></td>
        <td><button type="button" class="btn btn-primary"><a th:href="@{/verCamion/{id}(id=${camion.id})}">Ver detalle</a></button>
        <button type="button" class="btn btn-danger"><a th:href="@{/}">Home</a></button></td>
    </tr>
</table>

    <!-- Boton para nuevos camiones -->
    <button type="button" class="btn btn-info"><a th:href="@{/camion}">Agregar nuevo camion</a></button>

</div>
<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${message}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Camión registrado con éxito!")
            }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }
    }
</script>

</body>
</html>