<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <title>Costo de Alquiler </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>

<div class="container">
    <h1> <center>Resumen de su alquiler </center></h1>

    <br>

    <form th:action="@{/verMicrobus/{id}}" th:object="${microbus}" method="post">

        <!--Id-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="id">Id:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{id}" class="form-control" id="id" readonly></div>
            </div>
        </div>

        <!--Fecha-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="fecha">Fecha de alquiler:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{fecha}" class="form-control" id="fecha" readonly></div>
            </div>
        </div>

        <!--Matricula-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="matricula">Matricula:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{matricula}" class="form-control" id="matricula" readonly></div>
            </div>
        </div>

        <!--Marca-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="marca">Marca:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{marca}" class="form-control" id="marca" readonly></div>
            </div>
        </div>

        <!--Modelo-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="modelo">Modelo:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{modelo}" class="form-control" id="modelo" readonly ></div>
            </div>
        </div>

        <!--Total dias-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="totalDias">Numero de días:</label>
                <div class="col-md-6" >
                    <input type="number" th:field="*{totalDias}" class="form-control" id="totalDias" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="total">Monto Total:</label>
                <div class="col-md-6" >
                    <input type="number" th:field="*{total}" class="form-control" id="total" readonly>
                </div>
            </div>
        </div>
    </form>
    <center>
        <a th:href="@{/}" class="btn btn-success mx-auto"  role="button">Home</a>
        <a th:href="@{/verMicrobuses}" class="btn btn-primary mx-auto"  role="button">Ver todos</a>
    </center>
</div>